/* 헤더 */
.container {
  padding: 24px 24px 0px 24px;
  background-color: #f6f7f9;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.header {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.subtext {
  font-size: 14px;
  color: #a8afb6;
}
.body {
  padding: 24px;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 카드 섹션 - 첫 번째 줄 */
.cardSection.now {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.cardSection.now .card {
  flex: 1;
  /* height: 150px; */
  min-width: 220px;
  background: #fff; 
  border-radius: 12px;
  padding: 24px;
  box-shadow: 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
 /* .cardSection.now .card {
  flex: 0 1 200px;
  max-width: 575px;
  min-width: 220px;
  background: #fff; 
  border-radius: 12px;
  padding: 24px;
  box-shadow: 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
 } */

 /* 시간 카드 */
.card.time {
  flex: 0 1 200px;
  max-width: 200px;
  background: #fff; 
  border-radius: 12px;
  padding: 24px;
  box-shadow: 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardSection.now .timeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
  text-align: center;
}
.cardSection.now .timeDate {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  letter-spacing: 0.5px;
}
.cardSection.now .timeTime {
  font-size: 36px;
  font-weight: 700;
  color: #111;
  letter-spacing: 1px;
}

/* POWER 카드 */
.card.power, .card.voltage, .card.temperature  {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px; 
}
.card.power .cardHeader, .card.voltage .cardHeader, .card.temperature .cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card.power .cardTitle, .card.voltage .cardTitle, .card.temperature .cardTitle {
  font-size: 22px;
  font-weight: 600;
  color: #444;
  letter-spacing: 0.5px;
  margin-left: 24px;
}
.card.power .cardContent, .card.voltage .cardContent, .card.temperature .cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.card.power .powerState, .card.voltage .voltageState, .card.temperature .temperatureState {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #14ca74;
  border: none;
}
.powerStateWrapper {
  position: relative;
  display: inline-block;
}
.powerValue, .voltageValue, .temperatureValue {
  font-size: 36px;
  font-weight: 600;
  color: #111;
}


/* 센서 데이터 트랜드 */
.cardSection.history {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 550px;
}
.cardSection.history .card.trend {
  flex: 0 1 calc((100vw - 72px) * 0.5) !important;
  max-width: calc((100vw - 72px) * 0.5);
  background: #fff; 
  border-radius: 25px;
  padding: 24px;
  display: block;
  box-shadow: 3px rgba(0, 0, 0, 0.2);
}

.card.trend .cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.card.trend .cardTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  display: flex;     
  align-items: center;
}
.selectDropdown {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}
.selectDropdown:hover {
  border-color: #888;
}
.excelDownloadButton {
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: #4f7bf6;
  color: #fff;
}
.trendCharts {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 12px;
}
.lineChartContainer {
  flex: 0 1 100%;
  max-width: 100%;
  min-width: 0;
  height: 90%;
}



/* 다이너마스크 */
.cardSection.history .card.dynamask {
  flex: 0 1 calc((100vw - 72px) * 0.5) !important;
  max-width: calc((100vw - 72px) * 0.5);
  /* max-height: 375px; */
  /* height: 375px; */
  background: #fff; 
  border-radius: 25px;
  padding: 24px;
  display: block;
  align-items: center;
  justify-content: center;
  box-shadow: 3px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  overflow-y: auto;
  min-width: 600px;
  position: relative;
}
.card.dynamask .cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.card.dynamask .cardTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.selectDropdown {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
}
.selectDropdown:hover {
  border-color: #888;
}
.cardSection.history .card.dynamask .cardHeader {
  position: sticky;
}
.dynamask .lineChartContainer {
  flex: 0 1 100%;
  max-width: 100%;
  min-width: 0;
  height: 100%;
}
.dynamask .impactChartContainer {
  flex: 0 1 100%;
  max-width: 100%;
  min-width: 0;
  height: 90%;
}
.checkBoxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
}
.heatmapContainer {
  width: 100%;
  max-width: 700px;
  height: 240px;
  margin-top: 1rem;
}

.checkBoxContainer label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.cardHeader {
  display: flex;
  gap: 12px;
  align-items: center;
}

.dynamaskModalOverlay, .trendModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dynamaskModal, .trendModal{
  background-color: #ffffff;
  width: 90%;
  max-width: 720px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow-y: auto;
  max-height: 400px;

}

.dynamaskModalActions, .trendModalActions{
  position: absolute;
  top: 16px;
  right: 16px;
}

.dynamaskModalActions button, .trendModalActions button {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
}

.dynamaskModalActions button:hover, .trendModalActions button:hover {
  color: #000;
}

dynamaskModal .cardTitle,  trendModal .cardTitle{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #222;
}

.description {
  font-size: 15px;
  line-height: 1.8;
  color: #444;
}

.description p {
  margin-bottom: 16px;
}

.description h4 {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #2c3e50;
  font-weight: 600;
}

.description ul {
  padding-left: 20px;
  margin-bottom: 16px;
}

.description li {
  margin-bottom: 6px;
  list-style-type: disc;
}

.subText {
  margin-top: 0px;
  font-size: 0.7rem;
  color: #555;
}
.simptipPositionTop {
  position: relative;
  display: inline-block;
}

/* 화살표 + 텍스트 공통 초기화 */
.simptipPositionTop::before,
.simptipPositionTop::after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  transition: all 0.1s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}

/* 화살표 스타일 */
.simptipPositionTop::before {
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #323232;
  bottom: 100%;
  margin-bottom: 6px; /* 여백 조절 */
}

/* 툴팁 텍스트 박스 */
.simptipPositionTop::after {
  content: attr(data-tooltip);
  background-color: #323232;
  color: #ecf0f1;
  height: 30px; /* 높이 늘림 */
  padding: 10px 8px; /* 수직 여백 증가, 좌우 여백 축소 */
  font-size: 13px;
  line-height: 18px;
  white-space: normal; /* 줄바꿈 허용해서 너비 제한 */
  width: max-content; /* 내용에 맞게 */
  max-width: 120px; /* 너비 제한 */
  text-align: center;
  bottom: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

/* 마우스 호버 시 보이게 */
.simptipPositionTop:hover::before,
.simptipPositionTop:hover::after,
.simptipPositionTop:focus::before,
.simptipPositionTop:focus::after {
  visibility: visible;
  opacity: 1;
}
.noMaskMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;       /* 부모 div가 차지하는 높이만큼 */
  color: rgba(51, 51, 51, 0.5); 
  font-size: 18px;
  text-align: center;
  padding: 20px;
  user-select: none;
}