/* ToggleGroup.module.css */
.group {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.item {
  padding: 0.5rem 1rem;
  background: white;
  border: none;
  cursor: pointer;
  flex: 1;
  text-align: center;
}
.item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.active {
  background: #0070f3;
  color: white;
}